.footer {
  position: fixed;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.menu__image {
  width: 50px;
}
