@import "./header.css";
@import "./footer.css";
@import "./card.css"; /*
damit setze ich einige styles zum 0
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  background: none;
  border: none;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 1400px;
}

/*
#########################header#########################
*/

/*
#########################main#########################
*/
.page {
  margin-top: 80px;
}
.page__container {
}

/*
#########################footer#########################
*/
